<!-- Find me in app/views/fitbit_auth/get_response.html.erb -->
<div class="container">
	<div class="docs-section" id="intro">
		<h6 class="docs-header">Thank you!</h6>
		<%= link_to "Back", root_path %>
	</div>
</div>
