<!-- Find me in app/views/fitbit_auth/index.html.erb -->
<div class="container">
	<div class="eight columns">
		<div class="docs-section">
		<h6 class="docs-header">Getting started</h6>
			<p>Follow the instructions and authorize with your Fitbit account</p>
			<%= link_to "Connect with Fitbit", auth_fitbit_path, :class=>"button" %>
			<a class="button button-primary" href="#participants">Dashboard</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="docs-section" id="participants">
		<h6 class="docs-header">Partcipants</h6>
		<table>
			<tbody>
				<% @usernames.each_with_index do |u, index| %>
				<th>
					<span>
						<%= link_to "#{u[0]}", {:controller => "fitbit_auth", :action => "dashboard", :index => index} %>
					</span>
				</th>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>

